* {
	margin: 0;
	padding: 0;
}


.title {
	padding-top: 15px;
	padding-bottom: 20px;
	background: #2E8B57;
}

.title a {
	color: #fff;
	text-decoration: none;
}
.title a:hover {
	color: #eee;
}
.title h1 {
	font-size: 24px;
}


#myCarousel .item {
	max-height: 300px;
}

.navbar {
    background: #2E8B57;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}


.navbar a {
    color: #fff;
}


.nav>li>a:focus, .nav>li>a:hover {
    background: #3E9B67;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: #3E9B67;
    border-color: red;
}

.dropdown-menu{
    background: #2E8B57;
    border: none;
}

.dropdown-menu>li>a{
    color: #fff;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background: #3E9B67;
    color: #fff;
}

.sidebar {
    background: #2E8B57;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.sidebar ul>li>a {
    text-align: center;
    color: #fff;
}

.sidebar > p {
    padding-left: 20px;
    padding-right: 20px;
}

.side-social {
    padding-bottom: 10px;
}
.side-social img {
    width: 40px;
}

.side-padding {
    padding: 10px;
}

.content {

    border-radius: 4px;
    background: #fdfdfd;
}

.kor-posil{
    padding: 20px;
}
.kor-posil img{
    padding-right: 5px;
    height: 50px;
}

footer {
    padding-top: 20px;
}

.content-panel {

    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

    padding: 10px 20px 20px 20px;
    margin-bottom: 20px;
}

.content-panel  a {
    text-decoration: none;
    color: #444;
}


@media (max-width: 768px) {
    .nopadding-xs {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.news .btn {
    background: #2E8B57;
    color: #fff;
}


.pagination li>a {
    color: #2E8B57;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover  {
    color: #3E9B67;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background: #2E8B57;
    border-color: #2E8B57;
}